header {
    height: 70px;
    padding: 10px;
    background-color: #fff;
}
body {
    background-color: #c9b5c9;
}
.header {
    border-bottom: 1px solid black;
}
.name {
    float: left;
    background-color: #4aaaa5;
    color: #eeeeee;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 150px;
    line-height: 70px;
}
.contact, .portfolio, .about {
    float: right;
    padding: 10px;
    line-height: 50px;
    background-color: #ffffff;
}
.contact, .portfolio {
    border-left: 1px solid black;
}
.contact {
    margin-right: 150px;
    background-color: #efe;
}
.about-me {
    float: left;
    width: 650px;
    margin-top: 20px;
    margin-left: 150px;
}
.connect-with-me {
    float: right;
    width: 270px;
    margin-top: 20px;
    margin-right: 150px;
    text-align: center;
    background-color: #ffffff;
}
#icons {
    width: 50px;
    height: 50px;
}